<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title>Casting Agency</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="actors && actors.items">
<div style="display: flex; justify-content: center; padding-top: 20px;">
    <ion-card
     style="align-items: center; display: flex; flex-direction: column; cursor: pointer;" 
     *ngFor="let actor of Object.keys(actors.items)"
     (click)="openForm(actors.items[actor])">
        <ion-card-header>
          <ion-card-title>{{actors.items[actor].name}}</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card
     style="opacity: .7; align-items: center; display: flex; flex-direction: column; cursor: pointer;" 
     *ngIf="auth.can('post:actors')"
     (click)="openForm()">
        <ion-card-header>
          <ion-card-title>Create Actor</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="color:grey; font-size: 256%;">
            <ion-icon name="add-circle"></ion-icon>
        </ion-card-content>
      </ion-card>
</div>
</ion-content>
